.header {
  max-width: 1360px;
  max-height: 40px;
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.header__logo {
  width: 89px;
  margin-right: 24px;
}

.header__button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.header__link {
  text-decoration: none;
}

.header__username {
  margin-left: 20px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__login-button{
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}

.header__signup-button{
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}